# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore CSV data files
*.csv

# Ignore virtual environment folder (if inside project)
venv/

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore environment/config files
.env
